@media screen and (max-width:500px){
  body{
    text-align: center;
  }

  /* NAVBAR SECTION */
  .navbar-container{
    display: none;
  }

  .navbar-container.show{
    box-shadow: 0px 150px 500px rgba(0,0,0,0.5);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
    padding: 5%;
    height: 40vh;
    width: 70%;
  }

  .navbar-link{
    flex-direction: column;
    align-items: center;
  }

  .navbar-link li{
    margin-bottom: 20%;
  }

  .hamburger-icon{
    display: block;
  }

  .hamburger-icon.close{
    content: url("../images/icon-close.svg");
  }

  .background-top{
    width: 100%;
  }

  .navbar-btn.hide{
    display: none;
  }

  /* INTRO SECTION */
  #intro{
    flex-direction: column-reverse;
  }

  .intro-title, .intro-paragraph{
    width: 100%;
  }

  .intro-img{
    width: 90%;
  }

  .intro-img.hide{
    display: none;
  }

  /* FEATURES SECTION */
  #features{
    flex-direction: column;
  }

  .features-title{
    margin: 15% auto 5%;
    width: 90%;
  }

  .features-paragraph-01{
    margin: auto auto 10%;
    width: 80%;
  }

  .features-container{
    text-align: left;
  }

  .features-description, .features-paragraph{
    width: 100%;
  }

  .features-description-txt{
    background-color: hsl(13, 100%, 96%);
  }

  .background-middle{
    top: -25vh;
    left: 350px;
    width: 60%;
  }

  /* FEEDBACK SECTION */
  .feedback-title{
    margin-bottom: 15%;
  }

  .feedback-div{
    height: 90%;
  }

  .profile-container{
    flex-direction: column;
  }

  .profile-card{
    margin-bottom: 10%;
  }

  #feedback .get-started-btn{
    display: block;
  }

  /* CTA SECTION */
  #cta{
    background-image: url(../images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
  }

  .cta-div{
    flex-direction: column;
    padding: 3%;
  }

  .cta-txt{
    width: 100%;
  }

  /* FOOTER SECTION */
  .footer-div{
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 0px;
    grid-template-areas: "contact contact"
                         "link1 link2"
                         "social social"
                         "logo logo"
                         "copyright copyright";
    justify-items: stretch;
    align-items: center;
    height: 100vh;
  }

  .footer-links{
    height: 120px;
    text-align: left;
  }

  .footer-logo{
    justify-self: center;
  }

  .copyright{
    justify-self: center;
  }

  .email-input{
    width: 70%;
  }

  .go-btn{
    width: 30%;
  }
}
