body {
  background: hsl(0, 100%, 74%) url(../images/bg-intro-desktop.png);
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10% auto;
  width: 80%;
}

.row {
  width: 50%;
}

/* LEFT SIDE PART */
.left-side-text {
  color: #fff;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  width: 90%;
}

/* RIGHT SIDE PART */
.signup-form {
  background-color: #fff;
  border-radius: 8px;
  padding: 5%;
  margin-top: 5%;
  width: 80%;
}

.blue-btn {
  background-color: hsl(248, 32%, 49%);
  border: none;
  border-radius: 5px;
  box-shadow: 0 7px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  height: 50px;
  width: 90%;
  cursor: pointer;
}

span {
  font-weight: 600;
}

input {
  display: block;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  height: 50px;
  margin: auto auto 4% auto;
  padding-left: 5%;
  width: 100%;
}

.submit-btn {
  background-color: hsl(154, 59%, 51%);
  border: none;
  border-bottom: 3px solid hsl(249, 10%, 26%, 0.4);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.agree-text {
  color: hsl(246, 25%, 77%);
  font-size: 11px;
  font-weight: 500;
  text-align: center;
}

form a {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
  text-decoration: none;
}

.warning {
  border: 2px solid hsl(0, 100%, 74%);
}

.warning::placeholder {
  color: hsl(0, 100%, 74%);
}

.warning-text {
  color: hsl(0, 100%, 74%);
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  margin-top: 0;
  text-align: right;
  visibility: visible;
}

footer {
  text-align: center;
}

/* MOBILE VIEW PART */
@media screen and (max-width:500px) {
  body {
    background: hsl(0, 100%, 74%) url(../images/bg-intro-mobile.png);
    text-align: center;
  }

  .container {
    flex-direction: column;
    width: 90%;
  }

  .row {
    width: 100%;
  }

  h1 {
    font-size: 28px;
    margin: auto;
    width: 70%;
  }

  .left-side-text p {
    margin: 5% auto 15%;
    width: 90%;
  }

  .blue-btn {
    height: 80px;
    line-height: 2;
    padding: 15px 120px 15px;
    width: 100%;
  }

  .signup-form {
    width: 90%;
  }
}
