body {
  background: url(../images/bg-top.svg) no-repeat top right,
              hsl(240, 78%, 98%) url(../images/bg-bottom.svg) no-repeat bottom left;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.top-container h1, .pricing-master, .pricing-basic{
  color: hsl(232, 13%, 33%);
}

/* Our pricing title */
.top-container h1{
  font-size: 32px;
}

/* Billing cycle text */
span{
  color: hsl(233, 13%, 49%);
  font-size: 13px;
  font-weight: 700;
}

/* Price Card Section */
.pricing{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 500px;
  vertical-align:baseline;
  line-height: 1.5rem;
  margin: 5% auto;
  width:80%;
}

.card{
  background-color: #fff;
  padding: 5%;
  width: 30%;
}

.pricing-basic{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
  height: 400px;
}

.pricing-pro{
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 10px;
  color: #fff;
  height: 450px;
}

.pricing-master{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  height: 400px;
}

.pricing-text-middle{
  position: relative;
  top: 25px;
}

.pricing h1{
  font-size: 56px;
}

hr{
  opacity: 0.3;
}

/* Learn More Buttons */
button{
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  height: 40px;
  letter-spacing: 0.1rem;
  margin: 10% auto;
  text-transform: uppercase;
  width: 100%;
}

.purple-btn{
  background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: #fff;
}

.purple-btn:hover{
  background: #fff;
  border: 1px solid hsl(237, 63%, 64%);
  color: hsl(237, 63%, 64%);
}

.white-btn{
  background: #fff;
  color: hsl(237, 63%, 64%);
}
.white-btn:hover{
  background: hsl(237, 63%, 64%);
  border: 1px solid #fff;
  color: #fff;
}

/* Round Toogle */
.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(237, 63%, 64%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


/* MOBILE VIEW */
@media screen and (max-width:500px){
  .pricing{
    flex-direction: column;
    height: auto;
    width:100%;
  }

  .card{
    height: auto;
    margin: 5% auto;
    width: 70%;
  }
}
