#benefits{
  margin: 25% 10% 10%;
}

#benefits h1{
  font-family: 'DM Serif Display', serif;
  font-size: 3.8rem;
  font-weight: 400;
  color: hsl(270, 9%, 17%);
}

h2{
  font-family: 'DM Serif Display', serif;
  color: hsl(270, 9%, 17%);
}

#benefits p{
  color: hsl(273, 4%, 51%);
}

.benefits-flex-container{
  display: flex;
  flex-direction: row;
}

.first-benefits, .second-benefits, .third-benefits{
  flex-basis: auto;
  margin-right: 2%;
}
