#howitwork{
  background-color: hsl(256, 26%, 20%);
  margin: 10%;
  position: relative;
  overflow: hidden;
}

.howitwork-flex-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 7%;
}

.div-howitwork-text, .div-howitwork-btn{
  flex-basis: auto;
  flex-grow: 1;
}

.div-howitwork-btn{
  text-align: right;
}

.bg-pattern-how-we-work-desktop{
  background: url(../images/bg-pattern-how-we-work-desktop.svg) right no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
}

#howitwork h1{
  color: #fff;
  font-family: 'DM Serif Display', serif;
  font-size: 3rem;
  font-weight: 400;
}

.howitwork-btn{
  background-color: inherit;
  border: 2px solid #fff;
  color: #fff;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  width: 150px;
  z-index: 2;
}

.howitwork-btn:hover{
  background-color: #fff;
  color: hsl(256, 26%, 20%);
  cursor: pointer;

}
